/*======================================================================*
|| #################################################################### ||
|| # Copyright �2006-2009 Youjoomla LLC. All Rights Reserved.           ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- THIS IS NOT FREE SOFTWARE ---------------- #      ||
|| # http://www.youjoomla.com | http://www.youjoomla.com/license.html # ||
|| #################################################################### ||
*======================================================================*/
a:focus{outline:none;}
focus{outline:none;}
button:focus {outline:none;}
* {
outline: none;
}

#formcontainer {
display:block;
position:relative;
width:650px;
background:none;
margin:0 auto;
padding:0px;
font:bold 11px Tahoma, Verdana, "Lucida Sans";

}
#formcontainer h1 { color:#3cbaec; font-size:20px; font-weight:normal; }

/*the form*/
#contactForm {
display:block;
position:relative;
clear:both;
float:none;
width:600px;
/*margin-left:25px;*/

}
#fomrbg{
background:#FCFCFC url(images/border.gif) repeat-y left top;
}
/* the message beneath the select */
#contactForm div.error{
display:block;
position:relative;
width:100%;
clear:both;
float:none;
padding:5px;
background:none;
text-indent:0;
border:0;

line-height:17px;
font-weight:normal;
color:#605e5e;
}
#contactForm div.error p{
padding:10px;
text-align:left;
}
#contactForm div.error ul{
margin:10px;
padding:0 0 0 10px;
}
#contactForm div.error li{
background-position:left center;
padding:0 0 0 10px;
margin:5px 0 0 3px;
}
#captx{
color: #a1a1a1;
font-size:10px;
padding:5px 15px;
}
#captx a,
#captx a:visited,
#captx a:focus,
#captx a:hover{
color: #3cbaec;
font-size:10px;
padding:0px 0 0px 15px;
margin:0 0 5px 0;
display:block;
text-decoration:none;
background: url(images/refresh.gif) no-repeat left center;
cursor:pointer;
font-weight:bold;
}
#captx a:hover{
color: #a1a1a1;
}


.plinks{
color:#3cbaec;
}

#contactForm table td{
vertical-align: middle;
border-bottom:1px solid #efeeee;
border-top:1px solid #fff;
color:#a1a1a1;
font-weight:bold;
margin:0;
padding:0px;
border-spacing:0;
}
#contactForm table{
vertical-align: middle;
border:1px solid #efeeee;
border-bottom:0px solid #efeeee;
margin:0;
padding:0;
border-spacing:0;
/**border-collapse: expression('separate', cellSpacing = '0px');
*/
}
#contactForm table tr{
vertical-align: middle;
margin:0;
padding:0;
border-spacing:0;
}
#contactForm label {
display:block;
position:relative;
width:200px;
text-align:right;
padding:0 20px 0 20px;
color:#a1a1a1;
float:left;
font-size:11px;
clear:left;
}
#contactForm input,
#contactForm select,
#contactForm textarea,
#contactForm input#archive {
border: 1px #efeeee solid;
font:bold 11px Tahoma, Verdana, "Lucida Sans";
width:380px;
padding:8px 3px;
margin:10px;
color:#a1a1a1;
background:#fff url(images/input.gif) repeat-x left top;
}

#contactForm .YJC_error{
	border:1px red solid;
}

#contactForm textarea {
height:200px;
padding:5px;
}

#contactForm input#captcha{
width:75px;
float:left;
}
.left{
width:240px;
float:left;
height:80px;
display:block;
margin:0;
padding:0;
overflow:hidden;
text-align:center;
}
#contactForm input.submit{
display:block;
position:relative;
clear:both;
margin:0 auto;
text-align:center;
background:url(images/button.gif) no-repeat left center;
color:#fff;
border:none;
font-weight:bold;
height:80px;
width:150px;
line-height:80px;
cursor:pointer;
text-indent:-7500px;
}

/* on submit, display loading */
#contactForm div.loading{
display:block;
position:relative;
width:100px;
height:80px;
background: url(images/spinner.gif) center right no-repeat;
float:right;
}
.right{
width:410px;
height:80px;
float:right;
display:block;
margin:0;
padding:0;
overflow:hidden;
text-align:center;
}
/* the default response class */
#show_response{
text-align:center;
padding:0px 0;
font-weight:bold;
height:80px;
width:100%;
margin:0 auto;
}
#contactForm div.response{
display:block;
position:relative;
width:100%;
height:50px;
margin:30px auto 0 auto;
font-size:11px;
text-align:center;
padding:0;
}
/* upload loading */
#contactForm div.uploadLoading{
display:block;
position:relative;
width:100%;
height:19px;
background:url(images/loader.gif) no-repeat center center;
}
#contactForm div.uploadMessage{
display:block;
position:relative;
font-size:11px;
padding:10px;
}
#submit_btn{
text-transform:capitalize;
}
/* messages and error colors*/
.error_field,
.error_email,
.error_captcha,
.error_token,
.error_send_email{
color:#ff0000;
}
.email_sent{
color:#3cbaec;
}

/*
	Start the input styles modifiers
*/
span.input_file_wrapper { 
	background:url(images/browse.jpg) top left no-repeat; 
	border:none; 
	height:33px; 
	display:block; 
	position:relative; 
	width:382px; 
	overflow:hidden; 
	text-align:right;
	margin:10px;
}
#contactForm span.input_file_wrapper input.fake-text { 
	display:block; 
	position:absolute; 
	top:3px; 
	left:2px; 
	padding:8px 5px; 
	margin:0px;
	width:298px; 
	background:none;
	border:none;
}