.MagicToolboxContainer {
    margin: 0 auto !important;
    text-align: center !important;
}
.MagicToolboxMessage {
    text-align: center !important;   
}
/* NOTE: for opacity-reverse = true */
a.MagicZoom:hover, a.MagicZoom:active, a.MagicZoom:focus {
    background: none !important;
}
/* NOTE: for opacity-reverse = true */
div.MagicZoomPup img {
    max-width: none;
}
